{% for article in articles.all %}
    <h3>
        <a href="/articles/{{ article.id }}">{{ article.title }}</a>
    </h3>
    <p>
        <small>{{ article.createdAt.format('Y-m-d H:i:s') }}</small>
    </p>
{% endfor %}